In [47]:
# importing some libs so that we can work with data easily :)
import pandas as pd
import numpy as np
import seaborn as sn

In [44]:
# reading the csv file by using pandas :) 
df = pd.read_csv("/kaggle/input/ahmedabad-flat-price-dataset-uncleaned/ahmedabad.csv")

In [46]:
# quick look into the data-set :)
df.head(10)

,Unnamed: 0,Title,type_area,value_area,status,floor,transaction,furnishing,facing,price,price_sqft,description
0,0,"2 BHK Apartment for Sale in Vivaan Aura, Zunda...",Super Area,155 sqyrd,Poss. by Dec '26,New Property,Unfurnished,Vivaan Aura,2,â‚¹48.1 Lac,"â‚¹3,444 per sqft","Multistorey Apartment for Sale in Zundal, Ahme..."
1,1,"2 BHK Apartment for Sale in SP Epitome, Shela ...",Carpet Area,710 sqft,Poss. by Jun '27,New Property,Unfurnished,SP Epitome,2,â‚¹50 Lac,"â‚¹3,876 per sqft","Multistorey Apartment for Sale in Shela, Ahmed..."
2,2,"2 BHK Apartment for Sale in Pacifica Amara, Sa...",Carpet Area,588 sqft,Poss. by Dec '25,New Property,Unfurnished,Pacifica Amara,2,â‚¹40 Lac,"â‚¹3,738 per sqft","Multistorey Apartment for Sale in Sanand, Ahme..."
3,3,"2 BHK Apartment for Sale in Kavisha AER, Shela...",Carpet Area,687 sqft,Poss. by Jun '26,New Property,Unfurnished,Kavisha AER,2,â‚¹48.8 Lac,"â‚¹3,900 per sqft","Multistorey Apartment for Sale in Shela, Ahmed..."
4,4,"2 BHK Apartment for Sale in Aarambh Vistara, G...",Carpet Area,621 sqft,Poss. by Mar '25,New Property,Unfurnished,Aarambh Vistara,2,â‚¹48 Lac,"â‚¹4,248 per sqft","Multistorey Apartment for Sale in Gota, Ahmeda..."
5,5,"2 BHK Apartment for Sale in Vivaan Essence, Zu...",Super Area,1413 sqft,Poss. by Jun '26,New Property,Unfurnished,Vivaan Essence,1 Covered,â‚¹49.9 Lac,"â‚¹3,533 per sqft",NaN
6,6,"2 BHK Apartment for Sale in Kavisha AER, Shela...",Carpet Area,700 sqft,Poss. by Dec '25,7 out of 14,New Property,Unfurnished,East,â‚¹49.1 Lac,"â‚¹3,900 per sqft","Prime Location in Shela, Nice Locality Easily..."
7,7,"2 BHK Apartment for Sale in Vivaan Aura, Zunda...",Carpet Area,85 sqyrd,Poss. by Jun '26,11 out of 14,New Property,Unfurnished,East,â‚¹48.4 Lac,"â‚¹3,444 per sqft","To gain an overview of the house structure, it..."
8,8,"2 BHK Apartment for Sale in Kavisha Atria, She...",Carpet Area,655 sqft,Poss. by Jul '24,New Property,Unfurnished,North - East,Garden/Park,â‚¹45.2 Lac,"â‚¹4,000 per sqft",Kavisha Atrias Architectural design effortless...
9,9,"2 BHK Apartment for Sale in Sun Parkwest, Shel...",Carpet Area,676 sqft,Poss. by Jul '26,5 out of 14,New Property,Unfurnished,East,â‚¹42.6 Lac,"â‚¹3,300 per sqft",Sun Parkwest is a well designed project by Sun...

In [49]:
# it is to check the no of rows and columns in the data-set :)
x = df.shape
print('This data-set has', x[0] , "rows" , 'and' ,x[-1] , "columns")

This data-set has 6853 rows and 12 columns

In [54]:
# we can also need to check data type so there are some couple of ways for it w'll use .dtype method for now
print('data type of the data present in the columns are give below')
print('')
print(df.dtypes)

data type of the data present in the columns are give below

Unnamed: 0      int64
Title          object
type_area      object
value_area     object
status         object
floor          object
transaction    object
furnishing     object
facing         object
price          object
price_sqft     object
description    object
dtype: object

In [ ]:
# now first let me delete one row which look useless :)

In [61]:
# lets see all the unique values present in the data-set

<bound method Series.unique of 0       2 BHK Apartment for Sale in Vivaan Aura, Zunda...
1       2 BHK Apartment for Sale in SP Epitome, Shela ...
2       2 BHK Apartment for Sale in Pacifica Amara, Sa...
3       2 BHK Apartment for Sale in Kavisha AER, Shela...
4       2 BHK Apartment for Sale in Aarambh Vistara, G...
                              ...
6848    4 BHK Apartment for Sale in Skydeck Seasons, T...
6849    4 BHK Apartment for Sale in TIMES 104, Gulmoha...
6850    4 BHK Apartment for Sale in Westlands, Ambli A...
6851    4 BHK Apartment for Sale in Sarkhej Gandhinaga...
6852    5 BHK Apartment for Sale in Venus Pashmina, Bo...
Name: Title, Length: 6853, dtype: object>

In [31]:
# missing values :)
print("missing values in data-set in '%'")
print("")
print((df.isnull().mean())*100)

missing values in data-set in '%'

Unnamed: 0      0.000000
Title           0.000000
type_area       0.000000
value_area      0.000000
status          0.000000
floor           0.116737
transaction     0.306435
furnishing      0.539910
facing          1.298701
price           0.000000
price_sqft      6.537283
description    25.769736
dtype: float64

In [33]:
# not so important but still if you want you can try storing name of fetaures in variable for record :)

columns = list(df.columns)
columns

['Unnamed: 0',
 'Title',
 'type_area',
 'value_area',
 'status',
 'floor',
 'transaction',
 'furnishing',
 'facing',
 'price',
 'price_sqft',
 'description']

In [ ]:
df.info()

In [ ]:
df["transaction"].unique()